@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap");
:root {
  font-size: 62.5%;
  --defaultFontColorTitle: #b52184;
  --defaultFontColorDesc: #312d64;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
}
body main .home figure {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: "A" "B";
}
body main .home figure .astronauta {
  width: -moz-max-content;
  width: max-content;
  grid-area: A;
}
body main .home figure .desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 9rem;
  height: 100%;
}
body main .home figure .desc h1 {
  color: var(--defaultFontColorTitle);
  font-weight: 900;
  font-size: 3.2rem;
}
body main .home figure .desc p {
  color: var(--defaultFontColorDesc);
  font-weight: 600;
  font-size: 2rem;
}
body main .home figure .desc img {
  margin-top: 3.5rem;
  padding: 1.5rem 0.5rem;
  border: 0.3rem solid var(--defaultFontColorTitle);
  border-radius: 76rem;
}
body main .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding: 6.4rem 11rem;
  background-color: var(--defaultFontColorDesc);
}
body main .cards .card {
  display: flex;
  align-items: flex-start;
  padding: 2.6rem;
  border-radius: 2rem;
  box-shadow: 0px 0.3rem 1.3rem 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  max-width: 32rem;
}
body main .cards .card h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--defaultFontColorTitle);
}
body main .cards .card p {
  margin-top: 2rem;
  font-weight: 600;
  color: var(--defaultFontColorDesc);
}
body main .contacts {
  display: grid;
  grid-template-areas: "A B B";
}
body main .contacts form {
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  align-items: flex-start;
  justify-content: center;
  padding: 8rem;
  grid-area: A;
}
body main .contacts form h2 {
  color: var(--defaultFontColorTitle);
  font-size: 3.2rem;
  font-weight: 900;
}
body main .contacts form .iconInInput {
  display: grid;
  grid-template-columns: 2.4rem 1fr;
  border: 2px solid var(--defaultFontColorDesc);
  padding: 1.2rem 1.6rem;
  width: 100%;
  gap: 1.2rem;
  border-radius: 1.6rem;
}
body main .contacts form .iconInInput input {
  border: none;
}
body main .contacts form .iconInInput input:placeholder {
  line-height: 100%;
  color: var(--defaultFontColorDesc);
}
body main .contacts form .iconInInput input:focus {
  border: none;
  outline: 0;
}
body main .contacts form textarea {
  border: 2px solid var(--defaultFontColorDesc);
  border-radius: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.6rem;
}
body main .contacts form textarea::-moz-placeholder {
  line-height: 100%;
  color: var(--defaultFontColorDesc);
}
body main .contacts form textarea::placeholder {
  line-height: 100%;
  color: var(--defaultFontColorDesc);
}
body main .contacts form textarea:focus {
  outline: 0;
}
body main .contacts form .btn {
  padding: 1.6rem;
  border-radius: 1.6rem;
  background-color: var(--defaultFontColorDesc);
  border: none;
  border-radius: 1.6rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
body main .contacts .background {
  grid-area: B;
  background-image: url(../assets/backgroundForm.png);
  background-size: cover;
}
body footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--defaultFontColorDesc);
  color: white;
  height: 8rem;
}

@media (min-width: 750px) {
  body main .home figure {
    grid-template-areas: "B A";
  }
  body main .home figure .desc {
    align-items: flex-start;
  }
  body main .home figure .desc:last-child {
    justify-content: flex-end;
  }
  body main .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  body main .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  body main .contacts form {
    margin: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */