@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap");

:root {
  font-size: 62.5%;

  --defaultFontColorTitle: #b52184;
  --defaultFontColorDesc: #312d64;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;

  main {
    .home {
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .desc {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 9rem;

          h1 {
            color: var(--defaultFontColorTitle);
            font-weight: 900;
            font-size: 3.2rem;
          }

          p {
            color: var(--defaultFontColorDesc);
            font-weight: 600;
            font-size: 2rem;
          }

          img {
            margin-top: 3.5rem;
            padding: 3rem 1.5rem;
            border: 0.4rem solid var(--defaultFontColorTitle);
            border-radius: 76rem;
          }
        }
      }
    }

    .cards {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5rem;
      padding: 5.3rem 9.2rem;
      background-color: var(--defaultFontColorDesc);

      .card {
        display: flex;
        align-items: flex-start;
        padding: 2.6rem;
        border-radius: 2rem;
        box-shadow: 0px 0.3rem 1.3rem 0px rgba(0, 0, 0, 0.25);
        background-color: white;

        h2 {
          font-size: 3rem;
          font-weight: 900;
          color: var(--defaultFontColorTitle);
        }

        p {
          margin-top: 2rem;
          font-weight: 600;
          color: var(--defaultFontColorDesc);
        }
      }
    }

    .contacts {
      display: grid;

      form {
        display: flex;
        flex-direction: column;
        gap: 4.4rem;
        align-items: flex-start;
        justify-content: center;
        padding: 8rem;

        h2 {
          color: var(--defaultFontColorTitle);
          font-size: 3.2rem;
          font-weight: 900;
        }

        .iconInInput {
          display: grid;
          grid-template-columns: 2.4rem 1fr;
          border: 2px solid var(--defaultFontColorDesc);
          padding: 1.2rem 1.6rem;
          width: 100%;
          gap: 1.2rem;
          border-radius: 1.6rem;

          input {
            border: none;
          }

          input:placeholder {
            line-height: 100%;
            color: var(--defaultFontColorDesc);
          }

          input:focus {
            border: none;
            outline: 0;
          }
        }

        textarea {
          border: 2px solid var(--defaultFontColorDesc);
          border-radius: 1.6rem;
          width: 100%;
          padding: 1.2rem 1.6rem;
        }

        textarea::placeholder {
          line-height: 100%;
          color: var(--defaultFontColorDesc);
        }

        textarea:focus {
          outline: 0;
        }

        .btn {
          padding: 1.6rem;
          border-radius: 1.6rem;
          background-color: var(--defaultFontColorDesc);
          border: none;
          border-radius: 1.6rem;
          color: white;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.4rem;
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--defaultFontColorDesc);
    color: white;
    height: 8rem;
  }
}
